
<ul><h2>INICIAR SESION</h2></ul>



<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <ul><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %></ul>
  </div>

  <div class="field">
    <ul><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %></ul>
  </div>
  
  <div class="field">
    <ul><%= f.label :token %><br />
    <%= f.password_field :password, autocomplete: "current-password" %></ul>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <ul><%= f.check_box :remember_me %>
      <%= f.label :remember_me %></ul>
    </div>
  <% end %>

  <div class="actions">
    <ul><%= f.submit "Ingresar" %></ul>
  </div>
<% end %>

<%= render "devise/shared/links" %>
