<!DOCTYPE html>
<html>
  <head>
    <title>VacunAssist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% flash.each do |name,msg| %>
  		<%= content_tag(:div,msg,class: "alert alert-#{name}") %>
  	<% end %>
    	<%= yield %>
  </body>
</html>
